<!-- <div mat-dialog-content> -->
    <form [formGroup]="registerForm" class="form" (ngSubmit)="onSubmit()">
        <p class="title">{{ 'Vehicle ' | translate }}</p>
        <div class="flex">
            <label class="mw-50-percent">
                <input formControlName="matricule" required="" placeholder="" type="text" class="input">
                <span>{{ 'Matricule' | translate }}</span>
                
                <div *ngIf="registerForm.get('matricule')?.invalid && registerForm.get('matricule')?.touched">
                    <span class="error-message">Matricule is required</span>
                </div>
            </label>
    
            <label class="mw-50-percent">
                <input required="" placeholder="" type="text" class="input">
                <span>{{ 'Color' | translate }}</span>
            </label>
        </div>  
                
        <label>
            <input formControlName="date" required="" placeholder="" type="date" value="2024-12-31" class="input">
            <span>{{ 'Date' | translate }}</span>

            <div *ngIf="registerForm.get('date')?.invalid && registerForm.get('date')?.touched">
                <span class="error-message">date is required</span>
            </div>
        </label> 
            
        <label>
            <input formControlName="price" required="" placeholder="" type="number" class="input">
            <span>{{ 'Price' | translate }}</span>

            <div *ngIf="registerForm.get('price')?.invalid && registerForm.get('price')?.touched">
                <span class="error-message">Price is required</span>
            </div>
        </label>

        <div class="flex">
            <label class="mw-50-percent">
                <select formControlName="brand" required class="input" (change)="onBrandChange($event)">
                    <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
                </select>
                <span>{{ 'Brand' | translate }}</span>

                <div *ngIf="registerForm.get('brand')?.invalid && registerForm.get('brand')?.touched">
                    <span class="error-message">Brand is required</span>
                </div>
            </label>
        
            <label class="mw-50-percent">
                <select formControlName="model" required class="input">
                    <option *ngFor="let model of models" [value]="model.id">{{ model.name }}</option>
                </select>
                <span>{{ 'Model' | translate }}</span>

                <div *ngIf="registerForm.get('model')?.invalid && registerForm.get('model')?.touched">
                    <span class="error-message">Model is required</span>
                </div>
            </label>
        </div>
         
        <button class="submit" type="submit">{{ 'Submit' | translate }}</button>
    </form>
<!-- </div> 

<div mat-dialog-actions> 
    <button mat-button (click)="onNoClick()">No Thanks</button> 
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Add</button> 
</div> -->