<page-header [title]="'Show details'" [nav]="['home','cars','show']" class="bg-green-70"/>
@if (car) {
  
  <div class="p-x-8 text-center">
    <div class="row">
      <div class="col-sm-7">
        <app-image-viewer 
        [images]="images"
        [customClass]="'ii'"
        ></app-image-viewer>
        
          
          <!-- Cards with media area -->
          <mat-card class="example-card" appearance="outlined">

            <mat-card-content>
              <app-file-manager></app-file-manager>
            </mat-card-content>
            
          </mat-card>

      </div>
      <div class="col-sm-5">
        <mat-card class="p-8" appearance="outlined">
          <mat-card-header>
            <div class="title-share-botton-div">
              <app-share-botton></app-share-botton>

              <!-- <label class="container">
                <input type="checkbox" checked="checked">
                <div class="checkmark"></div>
              </label> -->

              
            </div>
          </mat-card-header>
          <mat-card-content>
            <div class="car-details pl-10">
              <p class="flex justify-between p-bg"><strong class="font-mono italic	font-semibold text-emerald-600">{{'Matricule' | translate}}</strong> {{ car.matricule }}</p>
              <p class="flex justify-between p-bg"><strong>{{'Fuel Type' | translate}}</strong> {{ car.fuelType }}</p>
              <p class="flex justify-between"><strong>{{'Fuel Efficiency' | translate}}</strong> {{ car.fuelEfficiency }} km/l</p>
              <p class="flex justify-between p-bg"><strong>{{'Engine Type' | translate}}</strong> {{ car.engine_type }}</p>
              <p class="flex justify-between"><strong>{{'Fuel Efficiency' | translate}}</strong> {{ car.fuel_efficiency }} km/l</p>
              <p class="flex justify-between"><strong>{{'Top Speed' | translate}}</strong> {{ car.topSpeed }} km/h</p>
              <p class="flex justify-between"><strong>{{'Number of Doors' | translate}}</strong> {{ car.number_of_doors }}</p>
              <p class="flex justify-between p-bg"><strong>{{'Seating Capacity' | translate}}</strong> {{ car.sating_capacity }}</p>
              <p class="flex justify-between"><strong>{{'Transmission' | translate}}</strong> {{ car.transmission }}</p>
              <p class="flex justify-between"><strong>{{'Height' | translate}}</strong> {{ car.height }} cm</p>
              <p class="flex justify-between"><strong>{{'Length' | translate}}</strong> {{ car.length }} cm</p>
              <p class="flex justify-between p-bg"><strong>{{'Weight' | translate}}</strong> {{ car.weight }} kg</p>
              <p class="flex justify-between"><strong>{{'Width' | translate}}</strong> {{ car.width }} cm</p>
              <p class="flex justify-between"><strong class="font-mono italic	font-semibold text-emerald-600">{{'Color' | translate}}</strong> {{ car.color }}</p>
              <p class="flex justify-between"><strong class="font-mono italic	font-semibold text-emerald-600">{{'Mileage' | translate}}</strong> {{ car.mileage }} km</p>
              <p class="flex justify-between p-bg"><strong class="font-mono italic	font-semibold text-emerald-600">{{'Price' | translate}}</strong> {{ car.price | currency }}</p>
              
            </div>

            <!-- Salah -->
            <p class="flex justify-between"><strong class="font-mono italic	font-semibold text-emerald-600">{{'Description' | translate}}</strong><span [innerHTML]="car.description"></span></p>
            <!-- end Salah -->
          </mat-card-content>
        </mat-card>            
        
        
      </div>
    </div>
  </div>
} @else {
    <div class="container-loader">
        <div class="loader"></div>
    </div>
}
